/*******************************/
/*******************************/
/*******************************/
*{
  font-family: Pretendard;
  /* line-height: 50px; */
  font-size: 30px;
}
/* bg 어두운색... */
.pushy {/* 배경 전체 */
  position:fixed;
  width:70%;
  height:100%;
  top: 0;
  z-index:500;
  overflow:auto;
  visibility:hidden;
  -webkit-overflow-scrolling: touch;
  background:#111;
}

.pushy nav a {/* 대메뉴 */
  display:block;
  padding:1.8rem 10px;
	font-size:2.5rem;
  text-align: center;
  text-decoration: none;
  outline: 0;
  color: #b3b3b1;
	border-bottom: 1px solid #464646;
}
.pushy nav .pushy-submenu ul{/* 서브메뉴 전체배경 */
	padding-left:0;
	background: url('../img/s11_bg.jpg') repeat left top !important;
 
}
.pushy nav .pushy-submenu ul .pushy-link{/* 서브메뉴 배경 */
	text-indent:15px;
}
.pushy nav .pushy-submenu ul .pushy-link a{/* 서브메뉴 */
	font-size:1rem !important;
	border: 0 !important;
	padding:1rem 10px;
}

/* bg 어두운색 끝.. */

/*******************************/
/*******************************/
/*******************************/

/* bg 흰색... */
.pushy_white {/* 흰배경 전체 */
	background: url(../img/body_bg_repeat.jpg) repeat left top !important;
}
.pushy_white nav a {/* 대메뉴 */
	color: #232323 !important;
	border-bottom: 1px solid #dfdfdf !important;
  font-family:'Montserrat', 'Noto Sans KR';
}
.pushy_white nav .pushy-submenu ul{/* 서브메뉴 전체 배경 */
	padding:0px 0 !important;
	background-color:#353535 !important;
}
.pushy_white nav .pushy-submenu ul .pushy-link{/* 서브메뉴 배경 */
	text-indent:0px;
}
.pushy_white nav .pushy-submenu ul .pushy-link a{/* 서브메뉴 */
	font-size:2rem !important; color:#222 !important;
}
.pushy_white nav .pushy-submenu ul .pushy-link ul.mo_sub_3depth		{text-indent:30px;}
.pushy_white nav .pushy-submenu ul .pushy-link ul.mo_sub_3depth li a			{font-size:0.70rem !important;}
/* bg 흰색 끝.. */



.pushy nav ul:first-child {
  margin-top:0px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition:transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display:none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display:block;
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 499;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pushy-submenu ul {
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("/img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
		-webkit-transform: translateY(-50%) rotate(90deg);
		-ms-transform: translateY(-50%) rotate(90deg);
		transform: translateY(-50%) rotate(90deg);
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open ul {
  max-height:1000px;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(270deg);
  -ms-transform: translateY(-50%) rotate(270deg);
  transform: translateY(-50%) rotate(270deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}



/* 모바일 로그인메뉴*/
/* .mo_header_login dl				{padding:2% 3%; border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#f8f8f8; text-align:center;}
.mo_header_login dl:after	{width:100%; display:block; clear:both; content:'';}
.mo_header_login dl dd			{display:inline-block; width:32%; padding:2% 0%;}
.mo_header_login dl dd a		{font-size:0.8rem;} */


/*다국어버튼*/
.mo_lang_btn {margin:15px auto; padding:0 3%; text-align:center; display: none;}
.mo_lang_btn a {display:inline-block; margin:0 2px; background:#fff; color:#111; width:20%; height:25px; line-height:25px; border-radius:15px; font-size:0.75rem;}
.mo_lang_btn a.lang_on	{background:#222; color:#fff; font-weight:700;}

.mo-top {display: flex; justify-content: space-between; position: relative;}
.mo-top::after {content: ''; display: block; width: 4px; height: 4px; background: #f0f0f0; border-radius: 50%; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.mo-top li {width: calc(100%/2); background: #151515;}
.mo-top li:first-child {border-right: 1px solid #666;}
.mo-top a {display: flex; align-items: center; justify-content: center; color: #fff; font-size: 1.8rem; padding: 10% 2%;}
.mo-top li:last-child img {display: inline-block; max-width: 15px; width: 100%; height: auto; margin-right: 8px;}

.mo-sns {display: flex; align-items: center; justify-content: flex-end; padding: 8% 4% 0;}
.mo-sns li:not(:last-child) {margin-right: 3%;}
.mo-sns a {display: flex; align-items: center; justify-content: center; width: 35px; height: 35px; background: #4F2700; border-radius: 50%; color: #fff;}
.mo-sns a i {font-size: 18px;}