/*******************************/
/*******************************/
/*******************************/

/* bg 어두운색... */
.pushy {/* 배경 전체 */
  position:fixed;
  width:80%;
  height:100%;
  top: 0;
  z-index:9999;
  overflow:auto;
  visibility:hidden;
  -webkit-overflow-scrolling: touch;
  background:#111;
}

.pushy nav a {/* 대메뉴 */
  display:block;
  padding:20px 10px;
	font-size:1rem;
  text-decoration: none;
  outline: 0;
  color: #b3b3b1;
	border-bottom: 1px solid #464646;
}
.pushy nav .pushy-submenu ul{/* 서브메뉴 전체배경 */
	padding-left:0;
	background-color:#464646;
}
.pushy nav .pushy-submenu ul .pushy-link{/* 서브메뉴 배경 */
	padding-left:15px;
}
.pushy nav .pushy-submenu ul .pushy-link a{/* 서브메뉴 */
	font-size:1rem !important;
	border: 0 !important;
	padding:10px;
}
/* bg 어두운색 끝.. */

/*******************************/
/*******************************/
/*******************************/

/* bg 흰색... */
.pushy_white {/* 흰배경 전체 */
	background: #fff !important;
}
.pushy_white nav a {/* 대메뉴 */
	color: #232323 !important;
	border-bottom: 1px solid #dfdfdf !important;
}
.pushy_white nav .pushy-submenu ul{/* 서브메뉴 전체 배경 */
	padding-left:0 !important;
	background-color:#eee !important;
}
.pushy_white nav .pushy-submenu ul .pushy-link{/* 서브메뉴 배경 */
	padding-left:15px;
}
.pushy_white nav .pushy-submenu ul .pushy-link a{/* 서브메뉴 */
	font-size:1rem !important;
}
/* bg 흰색 끝.. */



.pushy nav ul:first-child {
  margin-top:0px;
}
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(80%, 0, 0);
  -ms-transform: translate3d(80%, 0, 0);
  transform: translate3d(80%, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pushy-submenu ul {
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open ul {
  max-height:1000px;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}